@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

@media screen and (min-width : 320px) {
  body { 
    background-color: gold;
    max-width: 320px;
  }
  .flex-container {
    display: flex;
    align-items:center;
    margin: 20px;
    padding-left: 100px;

}

@media screen and (min-width : 768px) and (max-width : 1200px) {
  body { 
    background-color: lightblue;
    max-width: 1200px;
  }
  .flex-container {
    display: flex;
    align-items:center;
    margin: 20px;
    padding-left: 100px;
}

@media screen and (min-width : 1200px) {
  body { 
    background-color: rgb(107, 161, 5);
    max-width: 1500px;
  }
  .flex-container {
    display: flex;
    align-items:center;
    margin: 20px;
    padding-left: 100px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-bottom: 70px;
}

h2 {
  color: yellow;
  margin-left: 35px;
}

html, 
body, 
a {
  font-family: 'Press Start 2P', cursive;
  // background-color: rgb(30, 30, 73);
  // max-width: 800px;
  margin: auto;
  background-image: url('');
  color: white;
  text-align: center;
  font-size: 12px;
}

ul {
  list-style-type: none;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addNew {
  margin-bottom: 10px;
  width: 300px;
  border-radius: 10px;
  height: 30px;
}

.waitlist {
  border-style: dashed;
  border-color: yellow;
}


//DiscoButton
$dark:   #15171E;
$white:  mix($dark, white, 20%);
$red:    #FD0000;
$citron: #FDFD00;
$purple: #A0038B;

.discoBtn {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 0.8rem 1.5rem;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #15171E;
  margin-bottom: 70px;
  font-family: 'Press Start 2P', cursive;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid transparent;
    transition: border-width 0.25s;
    border-image: linear-gradient(135deg,$purple, $red, $citron);
    border-image-slice: 1;
    pointer-events: none;
    filter: hue-rotate(0deg);
    animation: 0.5s linear 0s infinite normal both paused hueShift;
  }
  
  &:hover:before {
    border-width: 7px;
    animation-play-state: running;
  }
}

@keyframes hueShift {
  100% { filter: hue-rotate(360deg); }
}